body {
  margin: 0;
  padding: 0;
}

#map {
  position:absolute; 
  top:0;
  bottom:0;
  width:100%;
}

#git-link {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 150px;
  background-color: rgba(7, 7, 7, 0.5);
  margin-right: 6.3px;
  margin-top: 6.3px;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

#header {
  text-align: center;
  font-family: 'Muli', sans-serif;
  position: absolute;
  top: 19vh;
  width: 100%;
}

#header-bg h1 {
  font-size: 30px;
  font-weight: 400;
}

#header-bg {
  display: inline-block;
  height: 375px;
  width: 550px;
  background-color: rgba(255, 255, 255, 0.88);
  border-radius: 8px;
}

#header-inner-bg {
  margin: 0 auto;
  height: 80px;
  width: 520px;
  background-color: rgba(201, 67, 67, 0.342);
  border-radius: 10px;
}

#header-inner-bg h2 {
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

#header-description h2 {
  font-size: 15px;
  padding-left: 20px;
  text-align: left;
}

.geocoder{
  position: absolute;
  z-index:1;
  width: 520px;
  top:310px;
}

.mapboxgl-ctrl-geocoder { min-width:100%; }